/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base), Arial, sans-serif;
  font-variation-settings: var(--font-weight-base);
  font-size: var(--font-size-base);
  background-image: var(--bg-image-grad);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
}

.header,
.main {
  width: var(--page-width);
}

.header {
  font-family: var(--font-accent), fantasy;
  font-variation-settings: var(--font-weight-text);
  text-transform: uppercase;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: var(--page-width);
  outline: var(--border-style);
  background-color: var(--bg-color);
  padding: var(--header-padding);
  margin-block: 103px;
  gap: 20px;
}

.header-title {
  font-size: var(--header-title-font-size);
  font-variation-settings: var(--font-weight-text);
}

.header-subtitle {
  font-size: var(--header-subtitle-font-size);
  font-variation-settings: var(--font-weight-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.article-list {
  width: var(--page-width);
  outline: var(--border-style);
  background-color: var(--bg-color);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.article-list:not(:last-child) {
  gap: 52px;
}

.article-card {
  width: var(--page-width);
  outline: var(--border-style);
  background-color: var(--bg-color);
}

.article-title {
  padding: 5px 10px;
  font-variation-settings: var(--font-weight-title);
  color: var(--color);
  background-color: var(--bg-color);
  font-size: var(--font-size-base);
}

.article-image_box {
  outline: var(--border-style);
  position: relative;
  margin: 0 0 5px 0;
}

.card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent), fantasy;
  font-variation-settings: var(--font-weight-text);
  font-size: var(--font-button__text);
  color: var(--color);
  text-shadow: 0 0 1px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports (
  (-webkit-text-stroke: 1px var(--shadow-color)) or
    (text-stroke: 1px var(--shadow-color))
) {
  .label {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.article-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
  position: relative;
}

.filter-brightness {
  filter: brightness(90%);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-invert {
  filter: invert(0.3);
}

.filter-light {
  filter: contrast(1.1) brightness(1.2) saturate(1.2);
}

.filter-sepia {
  filter: sepia(0.3);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-blur {
  filter: blur(0.03rem);
}

.filter-multy {
  filter: contrast(1.1) brightness(1.2) saturate(1.2);
}

.article-info {
  padding: 24px 24px 25px 26px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-text {
  font-family: var(--font-base), sans-serif;
  font-size: var(--font-size-base);
  font-variation-settings: var(--font-weight-base);
}

.button-block {
  display: flex;
  align-self: end;
  gap: 7px;
}

.card__icon-button {
  width: 130px;
  height: 34px;
  display: flex;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  align-self: center;
  padding-inline: 0;
}

.card__like-button {
  padding-block: 8px;
  align-self: end;
  width: 130px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.card__like-button:focus {
  transition: box-shadow 0.3s ease;
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
}

.card__like-button::before {
  content: "";
  position: absolute;
  z-index: 0;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
  background-color: var(--color);
  inset: 0;
}

.card__like-button:hover {
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover .button__text {
  color: var(--bg-color);
}

.card__like-button:hover::before {
  translate: 0;
  color: var(--bg-color);
  cursor: pointer;
}

.decorated-button {
  align-items: center;
  background-color: var(--bg-color);
  border: var(--border-style);
  color: var(--color);
  cursor: pointer;
  font-family: var(--font-accent), fantasy;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.decorated-button::before {
  content: "";
  position: absolute;
  z-index: 0;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
  background-color: var(--color);
  inset: 0;
  color: var(--bg-color);
}

.decorated-button:hover .button__text {
  color: var(--bg-color);
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.decorated-button:hover::before {
  translate: 0;
  color: var(--bg-color);
  cursor: pointer;
}

.decorated-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
  transition: box-shadow 0.3s ease;
}

.decorated-button:focus-visible {
  box-shadow: 2px 2px 0 var(--color);
  color: var(--bg-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--font-accent);
  font-size: var(--font-button__text);
  font-variation-settings: var(--font-weight-text);
  color: var(--color);
  line-height: 90%;
  position: relative;
  z-index: 1;
}

.button-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 84px;
  gap: 8px;
  padding: 15px 20px;
  margin-bottom: 100px;
  border: var(--border-style);
}

.floppy {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  fill: var(--color);
}

.save-prompt {
  display: flex;
  align-items: center;
  font-family: var(--font-accent), fantasy;
  font-variation-settings: var(--font-weight-text);
  font-size: var(--font-button__text);
  line-height: 150%;
  text-transform: uppercase;
  gap: 20px;
}

.save-prompt svg {
  flex-shrink: 0;
}

.button-ok {
  width: 100%;
  max-width: 293px;
  height: 38px;
  flex-shrink: 1;
  text-transform: uppercase;
  padding: 0;
}

.modal {
  display: none;
  width: clamp(341px, calc(336.775px + 1.127vw), 353px);
  border: var(--border-style);
  box-sizing: border-box;
  padding: 0;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 40px;
}

body:has(.modal[open]) {
  overflow: hidden;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
    height: 84px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .button-ok {
    width: 100%;
  }

  .header {
    margin-block: 100px 97px;
  }
}
